<h2>Pagina con contenuti deferrable</h2>

<div>
  <p>Questa è una pagina contenente dei contenuti grafici che possono essere caricati on-demand invece che tutti in blocco.</p>
  <p>La procedura di ottimizzazione che utilizzeremo sarà la seguente:</p>
  <ul>
    <li>Splittare le view in più deferrable views</li>
  </ul>
  <p>
    <strong>
      Come si può vedere prima e dopo lo split, all'interno della tab network dei dev tools, sono stati risparmiati alcuni kb di caricamento
      al boot dell'applicazione. L'esperienza utente ne beneficia.
    </strong>
  </p>
</div>

<div>
  <mat-form-field>
    <mat-label>Select one argument</mat-label>
    <mat-select [formControl]="formControl">
      <mat-option value="prettier">Prettier</mat-option>
      <mat-option value="eslint">ESLint</mat-option>
      <mat-option value="husky">Husky</mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    @switch (formControl.value) {
      @case ('prettier') {
        @defer {
          <app-prettier></app-prettier>
        }
      }
      @case ('eslint') {
        @defer {
          <app-eslint></app-eslint>
        }
      }
      @case ('husky') {
        @defer {
          <app-husky></app-husky>
        }
      }
    }
  </div>
</div>
